<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466027909954-57ul6l4f62amcbnta3fttfho8pi3nr7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466027909954-57ul6l4f62amcbnta3fttfho8pi3nr7l</string>
	<key>API_KEY</key>
	<string>AIzaSyCdl439GY_goFRsJohue2OXAu2ISatCpSA</string>
	<key>GCM_SENDER_ID</key>
	<string>466027909954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calincrist.ImageSharing</string>
	<key>PROJECT_ID</key>
	<string>tutorial-demo-41037</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorial-demo-41037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:466027909954:ios:b070621f3d7e4ba7f9eedb</string>
	<key>DATABASE_URL</key>
	<string>https://tutorial-demo-41037.firebaseio.com</string>
</dict>
</plist>
